/alignof.h
/alloca.in.h
/basename-lgpl.c
/btowc.c
/c-ctype.c
/c-ctype.h
/close-hook.c
/close-hook.h
/config.charset
/dirname-lgpl.c
/errno.in.h
/float+.h
/float.in.h
/intprops.h
/langinfo.in.h
/localcharset.c
/localcharset.h
/malloca.c
/malloca.h
/malloca.valgrind
/mbrtowc.c
/mbsinit.c
/memchr.valgrind
/mktime-internal.h
/nl_langinfo.c
/parse-datetime.h
/parse-datetime.y
/ref-add.sin
/ref-del.sin
/sockets.c
/sockets.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio-write.c
/stdio.in.h
/stdlib.in.h
/str-two-way.h
/streq.h
/string.in.h
/strings.in.h
/sys_socket.in.h
/sys_time.in.h
/time.in.h
/unistd.in.h
/verify.h
/w32sock.h
/wchar.in.h
/wcrtomb.c
/wctype.in.h
/dosname.h
/mbtowc-impl.h
/mbtowc.c
/gettime.c
/gettimeofday.c
/mktime.c
/setenv.c
/time_r.c
/timespec.h
/unsetenv.c
/fd-hook.c
/fd-hook.h
/sys_uio.in.h
